amandin/presentation/**
amandin/data/**
amandin/manuscripts/**
amandin/notes/**
amandin/trees/opencv/*
amandin/microbiome/data/*
amandin/microbiome/plots/*
amandin/covid/model_supplimentary.pdf
amandin/covid/a.out